.block {
  height: 150px;
  width:  200px;
  background-color: green;
}

.block:hover {
  background-color: blue;
}

.message {
  position: absolute;
  top:  0;
  left: 0;
  width: 100%;
  padding: 20px 50px;

  transform: translateY(-200px);
  transition: transform 0.5s ease-in;
}

.show-message {
  transform: translateY(0);
}

.success {
  background: lightblue;
  color:      darkcyan;
}

.reject {
  background: lightblue;
  color:      red;
}
